node_modules/
.env
.DS_Store
coverage/
dist/

# Ignore the script that creates the .env file to avoid exposing credentials
backend/fixEnv.js

# Ignore environment file for Docker Compose
frontend/.env