/* frontend/src/components/AdminManagementLogin.css */

/* ይህ ኮንቴነር ከመነሻው AdminDashboard.css የተወሰደ ሲሆን እንደ አስፈላጊነቱ ሊስተካከል ይችላል */
.dashboard-container {
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  
  .dashboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1rem;
    flex-wrap: wrap;
    position: relative; /* back-link ን በትክክል ለማስቀመጥ */
  }
  
  .title-gradient {
    background: linear-gradient(45deg, #ff69b4, #277df5);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    margin-bottom: 2.5rem;
    box-shadow: 0 4px 15px rgba(231, 79, 193, 0.4);
  }
  
  .back-link {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: linear-gradient(45deg, #ff69b4, #277df5);
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(231, 79, 193, 0.4);
  }
  
  .appointment-form {
    text-align: center;
  }
  
  .appointment-form-group label {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    display: block;
    color: #fff;
    font-weight: bold;
  }
  
  .btn-confirm {
    background: linear-gradient(45deg, #ff69b4, #277df5);
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(231, 79, 193, 0.4);
    margin-top: 2rem;
    color: white;
    cursor: pointer;
  }