/* frontend/src/components/AdminLogin.css */

.admin-login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


  .admin-login-container {
    width: 95%; /* ስፋቱን ጨምረናል */
    padding: 3rem;
    max-width: 1600px; /* ቦርዱ ትልቅ እንዲሆን */
    margin: 2rem auto;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  
  .dashboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1rem;
    flex-wrap: wrap;
  }
  
  .title-gradient {
    background: linear-gradient(45deg, #ff69b4, #277df5);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    margin-bottom: 2.5rem;
    box-shadow: 0 4px 15px rgba(231, 79, 193, 0.4);
  }
  
  .back-link {
    position: absolute; /* ከዋናው ፍሰት ውጪ ለማድረግ */
    left: 2rem; /* ከግራ ጫፍ ያለውን ክፍተት አስተካክለናል */
    top: 2rem; /* ከላይ ጫፍ ያለውን ክፍተት አስተካክለናል */
    background: linear-gradient(45deg, #ff69b4, #277df5);
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(231, 79, 193, 0.4);
    margin-top: -3rem;
    margin-left: -3rem;;
  }
  
  .appointment-form {
    text-align: center;
  }
  
  .admin-login-form {
    max-width: 600px;
    margin: 2rem auto;
  }
  
  .appointment-form-group label {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    display: block;
    color: #fff;
    font-weight: bold;
  }
  
  .btn-confirm {
    background: linear-gradient(45deg, #ff69b4, #277df5);
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(231, 79, 193, 0.4);
    margin-top: 2rem;
    color: white;
    cursor: pointer;
  }
  