/* frontend/src/components/ServiceManagement.css */

.dashboard-container {
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.dashboard-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1rem;
    flex-wrap: wrap;
    position: relative;
}

.title-gradient {
    background: linear-gradient(45deg, #ff69b4, #277df5);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    margin-bottom: 2.5rem;
    box-shadow: 0 4px 15px rgba(231, 79, 193, 0.4);
}

.back-link {
    position: absolute;
    left: 1rem;
    top: 1rem;
    background: linear-gradient(45deg, #ff69b4, #277df5);
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}

.service-management-section h3,
.service-management-section label {
  color: #fff;
  font-weight: bold;
}

.service-list {
    list-style: none;
    padding: 0;
}
  
.service-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
}

.btn-cancel {
    background: linear-gradient(45deg, #f70606, #e67e22);
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
}

.btn-confirm {
    background: linear-gradient(45deg, #ff69b4, #277df5);
    color: white;
    border: none;
    cursor: pointer;
}